* {
  padding: 0;
  margin: 0; }

.nav {
  height: 6rem;
  position: sticky;
  background-color: white;
  display: flex;
  padding: 0 1%; }
  .nav_left {
    margin-right: 3%;
    height: 6rem;
    background-color: white; }
    .nav_left img {
      height: 100%;
      background-color: white; }
  .nav_right {
    width: 100%;
    display: flex; }
    .nav_right ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .nav_right ul li {
        list-style: none; }
        .nav_right ul li a {
          color: #484646;
          text-decoration: none;
          padding: 12px 0;
          font-size: 1.1rem;
          font-family: poppins,sans-serif; }
          .nav_right ul li a::after {
            width: inherit;
            height: 3.5px;
            content: "";
            display: block;
            margin-top: 5px; }
          .nav_right ul li a:hover::after, .nav_right ul li a:active::after, .nav_right ul li a:focus::after {
            background-color: green; }
