* {
  padding: 0;
  margin: 0; }

.hr {
  height: 1.2px;
  background: #3d3939;
  background: repeating-linear-gradient(90deg, #aca6a6, #aea8a8 6px, transparent 6px, transparent 12px);
  border: none; }

.main_nav {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 99;
  display: flex;
  background-color: white; }

.nav {
  height: 6rem;
  position: sticky;
  background-color: white;
  display: flex;
  padding: 1% 1%; }
  @media only screen and (max-width: 37.5rem) {
    .nav .logo {
      position: relative;
      margin-left: -15rem; } }
  .nav h2.nav_heading_logo {
    visibility: hidden;
    margin-left: 0rem;
    width: 0; }
  @media only screen and (max-width: 75rem) {
    .nav h2.nav_heading_logo {
      font-family: Brush Script MT;
      font-size: 5.5rem;
      display: flex;
      align-items: flex-end;
      margin-left: 2rem;
      visibility: visible; } }
  @media only screen and (max-width: 75rem) and (max-width: 37.5rem) {
    .nav h2.nav_heading_logo {
      visibility: hidden; } }
  .nav_left {
    margin-right: 3%;
    height: 6rem;
    display: flex;
    align-items: center;
    background-color: white; }
    .nav_left button {
      width: 100%;
      margin-top: 35px;
      padding: 12px;
      background: #dde1e7;
      border: none;
      font-size: 17px;
      font-weight: 600;
      margin-bottom: 32px; }
    .nav_left img {
      height: 100%;
      background-color: white; }
    .nav_left .hamburger {
      display: none; }
      @media only screen and (max-width: 75rem) {
        .nav_left .hamburger {
          display: flex; } }
    .nav_left .nav_vertical {
      display: none;
      visibility: hidden; }
      .nav_left .nav_vertical button {
        display: none; }
      .nav_left .nav_vertical .vertical_content {
        display: none; }
    @media only screen and (max-width: 75rem) {
      .nav_left #click:checked ~ .vertical_content {
        opacity: 1;
        visibility: visible; }
      .nav_left .nav_vertical {
        height: 2rem;
        width: 28rem;
        display: flex;
        visibility: visible; }
        .nav_left .nav_vertical input#click {
          z-index: -1; }
        .nav_left .nav_vertical button {
          display: flex;
          height: 3rem;
          width: 6rem;
          margin-top: -1rem;
          margin-left: 0rem;
          background-color: transparent;
          border: none; }
        .nav_left .nav_vertical #temp {
          position: absolute;
          left: 24rem;
          top: 20px;
          font-size: 30px;
          background: #dde1e7;
          padding: 3px;
          padding-left: 11px;
          padding-right: 11px;
          border-radius: 50%;
          cursor: pointer; }
        .nav_left .nav_vertical:target {
          display: flex;
          visibility: visible;
          opacity: 1; }
          .nav_left .nav_vertical:target .vertical_content {
            display: flex;
            visibility: visible;
            margin-left: -7rem;
            background-color: white; }
        .nav_left .nav_vertical .vertical_content {
          display: flex;
          height: 100vh;
          width: 100%;
          z-index: 9999;
          top: 0;
          left: 0;
          visibility: hidden;
          background-color: white;
          margin-left: -8rem;
          transition: all .5s; }
          .nav_left .nav_vertical .vertical_content .close {
            position: absolute;
            top: 2rem;
            left: 25rem;
            transition: all 200ms;
            font-size: 3rem;
            font-weight: bold;
            text-decoration: none;
            color: #333; }
          .nav_left .nav_vertical .vertical_content .list {
            list-style: none;
            padding: 1%; }
            .nav_left .nav_vertical .vertical_content .list .list1 {
              font-family: Brush Script MT;
              font-size: 7.5rem;
              display: flex;
              align-items: flex-end;
              margin-left: 4rem;
              gap: 2rem; }
              .nav_left .nav_vertical .vertical_content .list .list1 h2 {
                margin-top: -1rem; }
            .nav_left .nav_vertical .vertical_content .list li a {
              font-size: 2rem;
              color: #0e0d0d;
              text-decoration: none;
              font-family: poppins; }
            .nav_left .nav_vertical .vertical_content .list li img {
              height: 8rem;
              width: 6rem;
              margin-left: 0; }
            .nav_left .nav_vertical .vertical_content .list .list_items {
              padding: 1rem; }
              .nav_left .nav_vertical .vertical_content .list .list_items:hover {
                background-color: #f0e9e9;
                border-radius: 2px; } }
    .nav_left .hamburger {
      display: flex;
      height: 2rem;
      width: 3rem;
      background-color: transparent; }
  .nav_right {
    width: 100%;
    display: flex; }
    @media only screen and (max-width: 75rem) {
      .nav_right {
        display: none; } }
    .nav_right ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .nav_right ul li {
        list-style: none; }
        .nav_right ul li a {
          color: #484646;
          text-decoration: none;
          padding: 12px 0;
          font-size: 1.1rem;
          font-family: poppins,sans-serif; }
          .nav_right ul li a::after {
            width: inherit;
            height: 3.5px;
            content: "";
            display: block;
            margin-top: 5px; }
          .nav_right ul li a:hover::after, .nav_right ul li a:active::after, .nav_right ul li a:focus::after {
            background-color: green; }

.section_home {
  padding: 1% 2%;
  display: flex;
  height: 5rem;
  font-size: 1.3rem; }
  @media only screen and (max-width: 75rem) {
    .section_home {
      display: none; } }
  .section_home .home {
    width: 100%; }
  .section_home .home_div {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-items: center; }
  .section_home .home_cal {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-items: center; }
    .section_home .home_cal input.input-field {
      font-size: 1.5rem;
      color: blue;
      padding: 4% 2%;
      border: 1px solid #a49f9f;
      border-radius: 5px; }
    .section_home .home_cal select {
      padding: 1%;
      font-size: 1.4rem;
      color: blue;
      width: max-content;
      padding: 6% 2%;
      border-radius: 5px;
      border: 1px solid #b4acac; }
      @media only screen and (max-width: 37.5rem) {
        .section_home .home_cal select {
          font-size: 1.5rem; } }
      .section_home .home_cal select:active, .section_home .home_cal select:focus, .section_home .home_cal select:visited {
        border: 1px solid #0722d2; }
      .section_home .home_cal select:visited, .section_home .home_cal select:focus, .section_home .home_cal select:checked {
        width: max-content; }
      .section_home .home_cal select option {
        font-size: 1rem; }
    .section_home .home_cal h3 {
      font-weight: 100;
      font-family: poppins;
      font-size: 1.2rem; }

.home_cal .search-container {
  float: right;
  border-radius: 25px;
  padding: 0 1%;
  display: flex;
  gap: 1rem;
  width: 30%; }
  .home_cal .search-container .search_1 {
    border-radius: 25px;
    text-align: center;
    height: 2rem;
    width: 100%;
    border: 1px solid #b4acac; }
    .home_cal .search-container .search_1:hover {
      border: 1px solid black; }
    .home_cal .search-container .search_1:active, .home_cal .search-container .search_1:focus, .home_cal .search-container .search_1:visited {
      border: 1px solid #0ae27a; }
  .home_cal .search-container .search_2 {
    background-color: #eee;
    width: 7rem;
    text-align: center;
    border-radius: 25px;
    border: none; }

.home_cal input[type=text] {
  padding: 6px;
  font-size: 17px;
  border: none;
  border-radius: 20px; }

.home_cal .search-container button {
  margin-right: 16px;
  font-size: 17px;
  border: none;
  cursor: pointer; }

.home_cal .search-container button:hover {
  background: #ccc;
  border: none; }

.home_page {
  background-color: #eee;
  display: flex;
  font-family: poppins;
  height: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
  padding: 0 0 5% 0;
  z-index: 0;
  opacity: 1; }
  .home_page div.home {
    display: none; }
  .home_page .home_page_left {
    width: 50%;
    padding: 3% 0% 3% 3%; }
    @media only screen and (max-width: 37.5rem) {
      .home_page .home_page_left {
        width: 100%; } }
  .home_page h1 {
    font-size: 4.2rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: fantasy;
    letter-spacing: 3px;
    font-style: oblique;
    display: grid; }
    @media only screen and (max-width: 75rem) {
      .home_page h1 {
        display: block;
        gap: 0.5rem;
        text-align: center; } }
  .home_page h2 {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: poppins; }
    @media only screen and (max-width: 75rem) {
      .home_page h2 {
        font-size: 2rem;
        text-align: center; } }
  .home_page h4 {
    font-size: 1.6rem;
    color: #cab4b4;
    font-weight: 100; }
    @media only screen and (max-width: 75rem) {
      .home_page h4 {
        font-size: 1.3rem;
        text-align: center; } }
  @media only screen and (max-width: 50rem) {
    .home_page .home_page_right {
      width: 95%;
      margin-left: 12%;
      display: block;
      text-align: center;
      justify-content: space-between;
      padding: 1%; }
      .home_page .home_page_right img {
        width: 40%;
        height: 50%;
        border-radius: 100%; }
      .home_page .home_page_right .img_1 {
        width: 40%;
        height: 50%;
        border-radius: 100%;
        float: none;
        margin-top: 0; }
      .home_page .home_page_right .img_2 {
        width: 40%;
        height: 50%;
        border-radius: 100%;
        margin-top: 0; }
      .home_page .home_page_right .img_3 {
        width: 40%;
        height: 50%;
        border-radius: 100%;
        margin-top: 0; }
      .home_page .home_page_right .img_4 {
        width: 40%;
        height: 50%;
        border-radius: 100%;
        margin-top: 0; } }
  .home_page .home_page_right {
    width: 50%; }
    @media only screen and (max-width: 75rem) {
      .home_page .home_page_right {
        width: 40%;
        margin-left: 5%; } }
    @media only screen and (max-width: 62.5rem) {
      .home_page .home_page_right {
        width: 95%;
        margin-left: 12%;
        display: block;
        text-align: center;
        justify-content: space-between;
        padding: 1%; } }
    @media only screen and (max-width: 37.5rem) {
      .home_page .home_page_right {
        width: 95%;
        margin-left: 0%;
        display: flex;
        text-align: center;
        justify-content: space-between;
        padding: 3%; } }
    .home_page .home_page_right img {
      width: 35%;
      height: 50%;
      border-radius: 100%;
      z-index: 9; }
      @media only screen and (max-width: 62.5rem) {
        .home_page .home_page_right img {
          width: 95%;
          width: 40%;
          height: 50%;
          border-radius: 100%;
          margin-top: 0;
          float: none; } }
      @media only screen and (max-width: 37.5rem) {
        .home_page .home_page_right img {
          width: 22%;
          height: 50%;
          border-radius: 100%;
          z-index: 9; } }
    .home_page .home_page_right .img_1 {
      float: right; }
      @media only screen and (max-width: 62.5rem) {
        .home_page .home_page_right .img_1 {
          float: none;
          width: 40%;
          height: 50%; } }
      @media only screen and (max-width: 37.5rem) {
        .home_page .home_page_right .img_1 {
          float: none;
          width: 22%; } }
    .home_page .home_page_right .img_2 {
      margin-top: 1.5rem;
      float: right;
      width: 30%; }
      @media only screen and (max-width: 62.5rem) {
        .home_page .home_page_right .img_2 {
          width: 40%;
          height: 50%;
          margin-top: 0;
          float: none; } }
      @media only screen and (max-width: 37.5rem) {
        .home_page .home_page_right .img_2 {
          margin-top: 0rem;
          float: none;
          width: 22%; } }
    .home_page .home_page_right .img_3 {
      width: 45%;
      margin-top: -7rem;
      height: 60%; }
      @media only screen and (max-width: 62.5rem) {
        .home_page .home_page_right .img_3 {
          width: 40%;
          height: 50%;
          margin-top: 0; } }
      @media only screen and (max-width: 37.5rem) {
        .home_page .home_page_right .img_3 {
          width: 25%;
          margin-top: 0; } }
    .home_page .home_page_right .img_4 {
      margin-top: 0rem;
      z-index: 99;
      opacity: 1; }
      @media only screen and (max-width: 62.5rem) {
        .home_page .home_page_right .img_4 {
          width: 40%;
          height: 50%; } }
      @media only screen and (max-width: 37.5rem) {
        .home_page .home_page_right .img_4 {
          width: 22%;
          margin-top: 0; } }

@media only screen and (max-width: 75rem) {
  .home_page div.home {
    display: block;
    width: 42rem;
    padding: 2%; }
  section#home.home_page .home_cal {
    display: block; }
  section#home.home_page .home_div {
    display: flex;
    justify-content: space-between; }
  section#home.home_page select {
    padding: 1%;
    font-size: 2rem; }
  section#home.home_page form {
    display: block; }
  section#home.home_page .home_cal input.input-field {
    padding: 1% 52% 1% 1%;
    margin-bottom: 1rem; }
  .home_cal {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-items: center; }
    .home_cal input.input-field {
      font-size: 2.5rem;
      color: #3f3f43;
      padding: 1% 52% 1% 0.9%;
      border: 1px solid #a49f9f;
      border-radius: 5px; }
    .home_cal select {
      padding: 1%;
      font-size: 1.4rem;
      color: #3f3f43;
      width: max-content;
      padding: 6% 2%;
      border-radius: 5px;
      border: 1px solid #b4acac; }
      .home_cal select:active, .home_cal select:focus, .home_cal select:visited {
        border: 1px solid #0722d2; }
      .home_cal select:visited, .home_cal select:focus, .home_cal select:checked {
        width: max-content; }
      .home_cal select option {
        font-size: 1rem; }
    .home_cal h3 {
      display: none; } }

.home_cal .search-container {
  float: right;
  border-radius: 25px;
  padding: 0 1%;
  display: flex;
  gap: 1rem;
  width: 100%; }
  .home_cal .search-container .search_1 {
    border-radius: 25px;
    margin-top: 1rem;
    text-align: center;
    height: 2rem;
    width: 100%;
    border: 1px solid #b4acac; }
    .home_cal .search-container .search_1:hover {
      border: 1px solid black; }
    .home_cal .search-container .search_1:active, .home_cal .search-container .search_1:focus, .home_cal .search-container .search_1:visited {
      border: 1px solid #0ae27a; }
  .home_cal .search-container .search_2 {
    margin-top: 1rem;
    background-color: #bbb3b3;
    width: 7rem;
    text-align: center;
    border-radius: 25px;
    border: none; }

.home_cal input[type=text] {
  padding: 6px;
  font-size: 17px;
  border: none;
  border-radius: 20px; }

.home_cal .search-container button {
  margin-right: 16px;
  font-size: 17px;
  border: none;
  cursor: pointer; }

.home_cal .search-container button:hover {
  background: #ccc;
  border: none; }

@media only screen and (max-width: 37.5rem) {
  .home_page div.home {
    width: 50%;
    display: block;
    width: 42rem;
    padding: 2%; }
  section#home.home_page .home_div {
    display: flex;
    justify-content: flex-start;
    gap: 1rem; }
  section#home.home_page .home_cal input.input-field {
    padding: 1% 1% 1% 1%;
    margin-bottom: 1rem;
    width: 30rem; }
  section#home.home_page select {
    font-size: 1.4rem; }
  .home_cal .search-container {
    float: left;
    width: 70%; } }

@media only screen and (max-width: 37.5rem) and (max-width: 37.5rem) {
  .home_page {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    display: block; } }

.explore {
  padding: 2%;
  justify-content: center; }
  .explore h2 {
    text-align: center;
    font-size: 2.5rem;
    font-family: poppins;
    font-weight: 900; }
  .explore ul {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1.5rem;
    height: 5rem;
    justify-items: center;
    align-items: center;
    text-align: center; }
    @media only screen and (max-width: 37.5rem) {
      .explore ul .activity_items_4, .explore ul .activity_items_5, .explore ul .activity_items_6 {
        display: none; } }
    .explore ul button {
      background-color: transparent;
      border: none; }
      .explore ul button a {
        color: gainsboro;
        border: none;
        font-size: 5rem; }
  .explore li {
    list-style: none;
    width: 80%;
    gap: 1rem;
    display: flex;
    border-radius: 15px;
    padding: 1%;
    box-shadow: 0 4px 8px rgba(27, 78, 163, 0.16), 0 8px 16px rgba(41, 121, 255, 0.16); }
    .explore li img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      float: left; }
  .explore a {
    text-decoration: none;
    color: black;
    font-family: poppins;
    font-weight: bolder;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .explore h3 {
    text-align: center;
    font-family: poppins;
    margin: 4rem;
    font-size: 2.4rem; }

.facility_page {
  display: flex;
  justify-content: space-between;
  font-family: poppins;
  color: gray;
  align-items: center; }
  .facility_page .facilities_box {
    width: 30%; }
    .facility_page .facilities_box .fac_heading {
      display: flex;
      justify-content: space-between; }
  .facility_page i {
    color: #ede511; }
  .facility_page img {
    width: 100%;
    text-align: center;
    border-radius: 15px; }
  .facility_page h5 {
    color: gainsboro;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem; }
  .facility_page button {
    font-size: 4rem;
    background-color: none;
    border: none;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75) inset;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75) inset;
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75) inset; }
    .facility_page button a {
      letter-spacing: -11px; }

.work {
  padding: 4% 0;
  background-color: #f3f1f1;
  clip-path: polygon(0% 5%, 98% 0%, 100% 95%, 0% 100%);
  text-align: center; }
  .work h1 {
    font-family: poppins;
    font-size: 2rem;
    font-weight: 900; }
  .work .box {
    align-items: center;
    height: 2rem;
    width: 15rem;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
    text-align: center;
    border-radius: 20px;
    background-image: linear-gradient(to right, white 0%, white 50%, green 50%, green 100%); }
    .work .box .btn1:hover .box {
      background-image: linear-gradient(to right, pink 0%, pink 50%, green 50%, green 100%); }
    .work .box button {
      background-color: transparent;
      border: none;
      padding: 0 8%; }
    .work .box a {
      text-decoration: none;
      border: none;
      color: black;
      font-family: poppins;
      font-weight: 900; }
  .work .work_box {
    display: flex;
    text-align: center;
    width: 20%;
    justify-content: space-between;
    padding: 5% 40%; }
  .work .workarrow_boxes_1 {
    display: flex; }
    .work .workarrow_boxes_1:after {
      background-color: black;
      height: 2px;
      width: 12px; }
  .work .workarrow_box {
    display: flex;
    padding: 0 25%;
    justify-content: center;
    gap: 3rem; }
    .work .workarrow_box .workarrow_boxes_2 {
      display: flex; }
      .work .workarrow_box .workarrow_boxes_2::after {
        background-color: #127629;
        height: 1.5rem;
        content: "";
        width: 3rem;
        clip-path: polygon(100% 39%, 0 0, 0 100%);
        margin-top: 1.5rem;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.33);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.33);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.33); }
      .work .workarrow_box .workarrow_boxes_2::before {
        height: 1.5rem;
        background-color: #059d29;
        content: "";
        width: 3rem;
        clip-path: polygon(100% 39%, 0 0, 0 100%);
        margin-top: 1.5rem;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.33) inset;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.33) inset;
        -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.33) inset; }
    .work .workarrow_box .workarrow_boxes {
      display: inline-grid;
      /* align-items: center; */
      gap: 1rem;
      justify-items: center; }
      .work .workarrow_box .workarrow_boxes hr {
        z-index: -1;
        height: 0.8px;
        width: 600px;
        position: absolute;
        margin-top: 2.1rem;
        background: #a19a9a;
        background: repeating-linear-gradient(90deg, #aca6a6, #aea8a8 6px, transparent 6px, transparent 12px);
        border: none; }
      .work .workarrow_box .workarrow_boxes h3 {
        justify-items: center;
        color: white;
        background-color: #1f1ff7;
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
        text-align: center;
        padding: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        font-family: 'Poppins'; }
      .work .workarrow_box .workarrow_boxes h2 {
        font-family: poppins; }
      .work .workarrow_box .workarrow_boxes p {
        color: #b3acac;
        font-family: poppins;
        font-weight: 300; }

.unique_facility {
  text-align: center;
  padding: 2%; }
  .unique_facility .facility_page {
    text-align: center;
    justify-content: center;
    padding: 2%; }
  .unique_facility h3 {
    font-size: 2rem;
    font-weight: bolder;
    font-family: poppins; }

.getStarted {
  display: flex;
  clip-path: polygon(0% 5%, 98% 0%, 100% 100%, 0% 100%);
  background-color: #faf6f6;
  padding: 10% 15%;
  gap: 2rem; }
  .getStarted .start_left {
    width: 50%;
    gap: 1rem;
    display: grid; }
    .getStarted .start_left h1 {
      font-size: 1.8rem;
      font-weight: bolder;
      font-style: bold;
      font-family: poppins; }
    .getStarted .start_left p {
      color: #7c7474;
      padding: 2% 6% 2% 0;
      font-family: poppins; }
    .getStarted .start_left ul {
      list-style: none;
      display: grid;
      gap: 1rem; }
      .getStarted .start_left ul li {
        font-family: poppins;
        font-size: 1.2rem;
        font-weight: bolder;
        color: #545252; }
        .getStarted .start_left ul li i {
          color: blue;
          border-radius: 50%;
          border: 1px solid #6a6ae5;
          font-weight: lighter;
          font-size: medium;
          padding: 0.2rem;
          margin-right: 1rem; }
    .getStarted .start_left button {
      padding: 0%;
      width: 100%;
      background-color: #62b362;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: all .2s ease-in-out; }
      .getStarted .start_left button:hover {
        background-color: #227e22; }
      .getStarted .start_left button a {
        text-decoration: none;
        color: white;
        font-family: poppins;
        font-weight: bolder;
        font-size: 1.2rem; }
  .getStarted .start_right {
    width: 50%;
    display: grid; }
    .getStarted .start_right img {
      width: 49%;
      border-radius: 5px; }
    .getStarted .start_right .img_1 {
      width: 100%; }
    @media only screen and (max-width: 37.5rem) {
      .getStarted .start_right .img2 {
        display: grid;
        justify-items: center;
        width: 16rem; } }

.footer {
  display: flex;
  padding: 2%;
  justify-content: space-between;
  align-items: center; }
  .footer .footer_main {
    display: flex;
    align-items: center;
    gap: 5rem; }
    @media only screen and (max-width: 37.5rem) {
      .footer .footer_main {
        gap: 1.4rem; } }
    .footer .footer_main img {
      height: 5rem; }
      @media only screen and (max-width: 37.5rem) {
        .footer .footer_main img {
          height: 3rem; } }
    .footer .footer_main p {
      font-size: 1.2rem;
      color: #848080;
      font-family: poppins; }
      @media only screen and (max-width: 37.5rem) {
        .footer .footer_main p {
          font-size: 0.6rem; } }
  .footer .footer_social {
    gap: 2rem;
    display: flex; }
    @media only screen and (max-width: 37.5rem) {
      .footer .footer_social {
        gap: 1.4rem; } }
    .footer .footer_social i {
      color: grey;
      font-size: 1.2rem; }

@media only screen and (max-width: 75rem) {
  * {
    font-size: 70%; } }
