* {
  padding: 0;
  margin: 0; }

.hr {
  height: 1.2px;
  background: #3d3939;
  background: repeating-linear-gradient(90deg, #aca6a6, #aea8a8 6px, transparent 6px, transparent 12px);
  border: none; }

.main_nav {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 99; }

.nav {
  height: 6rem;
  position: sticky;
  background-color: white;
  display: flex;
  padding: 1% 1%; }
  .nav_left {
    margin-right: 3%;
    height: 6rem;
    background-color: white; }
    .nav_left img {
      height: 100%;
      background-color: white; }
  .nav_right {
    width: 100%;
    display: flex; }
    .nav_right ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .nav_right ul li {
        list-style: none; }
        .nav_right ul li a {
          color: #484646;
          text-decoration: none;
          padding: 12px 0;
          font-size: 1.1rem;
          font-family: poppins,sans-serif; }
          .nav_right ul li a::after {
            width: inherit;
            height: 3.5px;
            content: "";
            display: block;
            margin-top: 5px; }
          .nav_right ul li a:hover::after, .nav_right ul li a:active::after, .nav_right ul li a:focus::after {
            background-color: green; }

.section_home {
  padding: 0% 2%;
  display: flex;
  height: 5rem;
  font-size: 1.3rem; }
  .section_home .home {
    width: 100%; }
  .section_home .home_cal {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-items: center; }
    .section_home .home_cal input.input-field {
      font-size: 1.5rem;
      color: blue;
      padding: 4% 2%;
      border: 1px solid #a49f9f;
      border-radius: 5px; }
    .section_home .home_cal select {
      padding: 1%;
      font-size: 1.4rem;
      color: blue;
      width: max-content;
      padding: 6% 2%;
      border-radius: 5px;
      border: 1px solid #b4acac; }
      .section_home .home_cal select:active, .section_home .home_cal select:focus, .section_home .home_cal select:visited {
        border: 1px solid #0722d2; }
      .section_home .home_cal select:visited, .section_home .home_cal select:focus, .section_home .home_cal select:checked {
        width: max-content; }
      .section_home .home_cal select option {
        font-size: 1rem; }
    .section_home .home_cal h3 {
      font-weight: 100;
      font-family: poppins;
      font-size: 1.2rem; }

.home_cal .search-container {
  float: right;
  border-radius: 25px;
  padding: 0 1%;
  display: flex;
  gap: 1rem;
  width: 30%; }
  .home_cal .search-container .search_1 {
    border-radius: 25px;
    text-align: center;
    height: 2rem;
    width: 100%;
    border: 1px solid #b4acac; }
    .home_cal .search-container .search_1:hover {
      border: 1px solid black; }
    .home_cal .search-container .search_1:active, .home_cal .search-container .search_1:focus, .home_cal .search-container .search_1:visited {
      border: 1px solid #0ae27a; }
  .home_cal .search-container .search_2 {
    background-color: #eee;
    width: 7rem;
    text-align: center;
    border-radius: 25px;
    border: none; }

.home_cal input[type=text] {
  padding: 6px;
  font-size: 17px;
  border: none;
  border-radius: 20px; }

.home_cal .search-container button {
  margin-right: 16px;
  font-size: 17px;
  border: none;
  cursor: pointer; }

.home_cal .search-container button:hover {
  background: #ccc;
  border: none; }

.home_page {
  background-color: #eee;
  display: flex;
  font-family: poppins;
  height: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
  padding: 0 0 5% 0;
  z-index: 0;
  opacity: 1; }
  .home_page .home_page_left {
    width: 50%;
    padding: 3% 0% 3% 3%; }
  .home_page h1 {
    font-size: 4.2rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: fantasy;
    letter-spacing: 3px;
    font-style: oblique; }
  .home_page h2 {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: poppins; }
  .home_page h4 {
    font-size: 1.6rem;
    color: #cab4b4;
    font-weight: 100; }
  .home_page .home_page_right {
    width: 50%; }
    .home_page .home_page_right img {
      width: 35%;
      height: 50%;
      border-radius: 100%;
      z-index: 9; }
    .home_page .home_page_right .img_1 {
      float: right; }
    .home_page .home_page_right .img_2 {
      margin-top: 1.5rem;
      float: right;
      width: 30%; }
    .home_page .home_page_right .img_3 {
      width: 45%;
      margin-top: -7rem;
      height: 60%; }
    .home_page .home_page_right .img_4 {
      margin-top: -2rem;
      z-index: 99;
      opacity: 1; }

.explore {
  padding: 2%;
  justify-content: center; }
  .explore h2 {
    text-align: center;
    font-size: 2.5rem;
    font-family: poppins;
    font-weight: 900; }
  .explore ul {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1.5rem;
    height: 5rem;
    justify-items: center;
    align-items: center;
    text-align: center; }
    .explore ul button {
      background-color: transparent;
      border: none; }
      .explore ul button a {
        border: none;
        font-size: 5rem; }
  .explore li {
    list-style: none;
    width: 80%;
    gap: 1rem;
    display: flex;
    border-radius: 15px;
    padding: 1%;
    box-shadow: 0 4px 8px rgba(27, 78, 163, 0.16), 0 8px 16px rgba(41, 121, 255, 0.16); }
    .explore li img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      float: left; }
  .explore a {
    text-decoration: none;
    color: black;
    font-family: poppins;
    font-weight: bolder;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .explore h3 {
    text-align: center;
    font-family: poppins;
    margin: 4rem;
    font-size: 3rem; }

.facility_page {
  display: flex;
  justify-content: space-between;
  font-family: poppins;
  color: gray;
  align-items: center; }
  .facility_page .facilities_box {
    width: 30%; }
    .facility_page .facilities_box .fac_heading {
      display: flex;
      justify-content: space-between; }
  .facility_page i {
    color: #ede511; }
  .facility_page img {
    width: 100%;
    text-align: center;
    border-radius: 15px; }
  .facility_page h5 {
    color: gainsboro;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem; }
  .facility_page button {
    font-size: 4rem;
    background-color: none;
    border: none;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75) inset;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75) inset;
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75) inset; }
    .facility_page button a {
      letter-spacing: -11px; }

.work {
  padding: 4% 0;
  background-color: #f3f1f1;
  clip-path: polygon(0% 5%, 98% 0%, 100% 95%, 0% 100%);
  text-align: center; }
  .work h1 {
    font-family: poppins;
    font-size: 2rem;
    font-weight: 900; }
  .work .box {
    align-items: center;
    height: 2rem;
    width: 15rem;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
    text-align: center;
    border-radius: 20px;
    background-image: linear-gradient(to right, white 0%, white 50%, green 50%, green 100%); }
    .work .box .btn1:hover .box {
      background-image: linear-gradient(to right, pink 0%, pink 50%, green 50%, green 100%); }
    .work .box button {
      background-color: transparent;
      border: none;
      padding: 0 8%; }
    .work .box a {
      text-decoration: none;
      border: none;
      color: black;
      font-family: poppins;
      font-weight: 900; }
  .work .work_box {
    display: flex;
    text-align: center;
    width: 20%;
    justify-content: space-between;
    padding: 5% 40%; }
  .work .workarrow_boxes_1 {
    display: flex; }
    .work .workarrow_boxes_1:after {
      background-color: black;
      height: 2px;
      width: 12px; }
  .work .workarrow_box {
    display: flex;
    padding: 0 25%;
    justify-content: center;
    gap: 3rem; }
    .work .workarrow_box .workarrow_boxes_2 {
      display: flex; }
      .work .workarrow_box .workarrow_boxes_2::after {
        background-color: #127629;
        height: 1.5rem;
        content: "";
        width: 3rem;
        clip-path: polygon(100% 39%, 0 0, 0 100%);
        margin-top: 1.5rem;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.33);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.33);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.33); }
      .work .workarrow_box .workarrow_boxes_2::before {
        height: 1.5rem;
        background-color: #059d29;
        content: "";
        width: 3rem;
        clip-path: polygon(100% 39%, 0 0, 0 100%);
        margin-top: 1.5rem;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.33) inset;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.33) inset;
        -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.33) inset; }
    .work .workarrow_box .workarrow_boxes {
      display: inline-grid;
      /* align-items: center; */
      gap: 1rem;
      justify-items: center; }
      .work .workarrow_box .workarrow_boxes hr {
        z-index: -1;
        height: 0.8px;
        width: 523px;
        position: absolute;
        margin-top: 2.1rem;
        background: #a19a9a;
        background: repeating-linear-gradient(90deg, #aca6a6, #aea8a8 6px, transparent 6px, transparent 12px);
        border: none; }
      .work .workarrow_box .workarrow_boxes h3 {
        justify-items: center;
        color: white;
        background-color: #1f1ff7;
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
        text-align: center;
        padding: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        font-family: 'Poppins'; }
      .work .workarrow_box .workarrow_boxes h2 {
        font-family: poppins; }
      .work .workarrow_box .workarrow_boxes p {
        color: #b3acac;
        font-family: poppins;
        font-weight: 300; }

.unique_facility {
  text-align: center;
  padding: 2%; }
  .unique_facility .facility_page {
    text-align: center;
    justify-content: center;
    padding: 2%; }
  .unique_facility h3 {
    font-size: 2rem;
    font-weight: bolder;
    font-family: poppins; }

.getStarted {
  display: flex;
  clip-path: polygon(0% 5%, 98% 0%, 100% 100%, 0% 100%);
  background-color: #faf6f6;
  padding: 10% 15%;
  gap: 2rem; }
  .getStarted .start_left {
    width: 50%;
    gap: 1rem;
    display: grid; }
    .getStarted .start_left h1 {
      font-size: 1.8rem;
      font-weight: bolder;
      font-style: bold;
      font-family: poppins; }
    .getStarted .start_left p {
      color: #7c7474;
      padding: 2% 6% 2% 0;
      font-family: poppins; }
    .getStarted .start_left ul {
      list-style: none;
      display: grid;
      gap: 1rem; }
      .getStarted .start_left ul li {
        font-family: poppins;
        font-size: 1.2rem;
        font-weight: bolder;
        color: #545252; }
        .getStarted .start_left ul li i {
          color: blue;
          border-radius: 50%;
          border: 1px solid #6a6ae5;
          font-weight: lighter;
          font-size: medium;
          padding: 0.2rem;
          margin-right: 1rem; }
    .getStarted .start_left button {
      padding: 0%;
      width: 100%;
      background-color: #62b362;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: all .2s ease-in-out; }
      .getStarted .start_left button:hover {
        background-color: #227e22; }
      .getStarted .start_left button a {
        text-decoration: none;
        color: white;
        font-family: poppins;
        font-weight: bolder;
        font-size: 1.2rem; }
  .getStarted .start_right {
    width: 50%;
    display: gridS; }
    .getStarted .start_right img {
      width: 49%;
      border-radius: 5px; }
    .getStarted .start_right .img_1 {
      width: 100%; }

.footer {
  display: flex;
  padding: 2%;
  justify-content: space-between;
  align-items: center; }
  .footer .footer_main {
    display: flex;
    align-items: center;
    gap: 5rem; }
    .footer .footer_main img {
      height: 5rem; }
    .footer .footer_main p {
      font-size: 1.2rem;
      color: #848080;
      font-family: poppins; }
  .footer .footer_social {
    gap: 2rem;
    display: flex; }
    .footer .footer_social i {
      color: grey;
      font-size: 1.2rem; }
