*{
    padding: 0;
    margin: 0;
   
}


    .hr{
        
        height: 1.2px;
       
        //background-color: black;
        
       
        background: #3d3939;
        background: repeating-linear-gradient(90deg,#aca6a6,#aea8a8 6px,transparent 6px,transparent 12px);
        border: none;
        
    }
