.explore{
    padding: 2%;
    justify-content: center;
    h2{
        text-align: center;
        font-size: 2.5rem;
        font-family:poppins ;
        font-weight: 900;
    }
    ul{
        margin-top: 2rem;
        display: flex;
        width:100%;
        justify-content: space-between;
        gap:1.5rem;
        height: 5rem;
        justify-items: center;
        align-items: center;
        text-align: center;
        @media only screen and(max-width:$bp-medium){
            gap:0.8rem;
            width: 70%;
        }
        @media only screen and(max-width:$bp-small){
            gap:1rem;
            width: 100%;
        .activity_items_4,.activity_items_5,.activity_items_6
        {
            display: none;
        }}
       

        button{
            background-color: transparent;
border: none;
            a{
                color: gainsboro;
border: none;
font-size: 5rem;
        }}
    }
    li{
        list-style: none;
        width: 80%;
        //background-color: whitesmoke;
        gap:1rem;
        display: flex;
        border-radius: 15px;
        padding: 1%;
        box-shadow: 0 4px 8px rgba(27,78,163,.16), 0 8px 16px rgba(41,121,255,.16);
       
        img{
            width:3rem;
            height: 3rem;
            border-radius: 50%;
            float: left;
        }
    }
    a{
        text-decoration: none;
        color:black;
        font-family: poppins;
        font-weight: bolder;
        display: flex;
        justify-items: center;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    h3{
        text-align: center;
        font-family: poppins;
        margin: 4rem;
        font-size: 2.4rem;
    }
}

.facility_page{
    display: flex;
    justify-content: space-between;
    font-family: poppins;
    color:gray;
    align-items: center;
    .facilities_box{
        width: 30%;
        .fac_heading{
            display: flex;
            justify-content: space-between;
        }
    }
    i{
        color:rgb(237, 229, 17);
    }
    img{
       
        width: 100%;
        text-align: center;
        border-radius: 15px;
    }
    h5{
        color:gainsboro;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.2rem;
    }
    button{
        font-size: 4rem;
        background-color: none;
        
        border: none;
        height: 5rem;
        width:5rem;
        border-radius: 50%;
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
    text-align: center;
    align-items: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75) inset;
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75) inset;
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75) inset;
        a{
            letter-spacing: -11px;
           
        }
    }
}