
.main_nav{
    position: sticky;
    left:0;
    top: 0;
    z-index: 99;
}.nav{
    height:6rem;
    position: sticky;
    background-color: white;
    display:flex;
    padding: 1% 1%;
    &_left{
        margin-right: 3%;
        height: 6rem;
       // width:15%;
        background-color: white;
        img{
          height:100%;  
          
          background-color: white;
        }
        
    }
    &_right{
        width:100%;
        display: flex;
        ul{
            width:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        li{
            list-style: none;
            a{
            color:rgb(72, 70, 70);
            text-decoration: none;
            
            padding: 12px 0;
            font-size: 1.1rem;
            font-family: poppins,sans-serif;
           
            &::after{
                width:inherit;
               // background-color:green;
                height: 3.5px;
                content: "";
                display: block;
                margin-top: 5px;
            }
            &:hover,&:active,&:focus{
                &::after{
                   
                    background-color:green;
                    
                }
            }
            }
            
        }
        }
    }
}