
.main_nav{
    position: sticky;
    left:0;
    top: 0;
    z-index: 99;
    display: flex;
}.nav{
    height:6rem;
    position: sticky;
    background-color: white;
    display:flex;
    padding: 1% 1%;
    .logo{
        //margin-left: 30rem;
    
        }
        h2{
            visibility: hidden;
        }
    &_left{
        margin-right: 3%;
        height: 6rem;
       // width:15%;
       display: flex;
       align-items: center;
        background-color: white;


        
        button
        {
          width: 100%;
          margin-top: 35px;
          padding: 12px;
          background: #dde1e7;
          border: none;
          font-size: 17px;
          font-weight: 600;
          margin-bottom: 32px;


 
        }


        img{
          height:100%;  
          
          background-color: white;
        }
        .hamburger{
            display: none;
            @media only screen and(max-width:$bp-largest){
                display: flex;
            }
           
        }
         .nav_vertical{
           // height:5rem;
           display: none;
           visibility: hidden;
            button{

              display: none;
            }
            .vertical_content{
                display: none;
            }
   
        } 
       
            @media only screen and(max-width:$bp-largest)
            {
               
                #click:checked~.vertical_content
    {
      opacity:1;
      visibility:visible;
    }
            .nav_vertical{
                height:2rem;
                width:28rem;
                display: flex;
                visibility: visible;
                input#click{
                    z-index: -1;
                }
                button{
                    display: flex;
    height: 3rem;
    width: 6rem;
    margin-top: -1rem;
    margin-left: 0rem;
    background-color: transparent;
    border: none;

    
                }
                #temp
                {
                  position:absolute;
                  left: 25rem;
                  top: 20px;
                  font-size: 30px;
                  background: #dde1e7;
                  padding: 3px;
                  padding-left: 11px;
                  padding-right: 11px;
                  border-radius: 50%;
                  cursor: pointer;
                }
                &:target{
                    display: flex;
                    visibility: visible;
                    opacity: 1;
                    .vertical_content{
                        display: flex;
                        visibility: visible;
                        margin-left: -7rem;
                        background-color: white;} }


                .vertical_content{
                    display: flex;
                   height: 100vh;
                   width:100%;
                  // background-color: rgba(black , .8);
                   //position: fixed;
                   z-index:9999;
              // margin-left: -4rem;
                   top:0;
                   left:0;
                   visibility: hidden;
                   background-color: white;
                   margin-left: -8rem;
                   transition: all .5s;
                   .close {
                    position: absolute;
                    top: 2rem;
                    left: 25rem;
                    transition: all 200ms;
                    font-size: 3rem;
                    font-weight: bold;
                    text-decoration: none;
                    color: #333;
                  }
                   .list{
                    list-style: none;
                    padding: 1%;
                    .list1{
                        font-family: Brush Script MT;
                        font-size: 5.5rem;
                        display: flex;
                        align-items: flex-end;
                        gap: 2rem;
                        h2{
                            margin-top: -1rem;
                        }
                        
                    }

                    li{
                        
                        a{
                            font-size: 2rem;
                            color:rgb(14, 13, 13);
                            text-decoration: none;
                           
                            font-family: poppins;}
                            img{
                                height: 8rem;
                                width:6rem;
                                margin-left: 0;
                            
                        }
                        
                    }
                    .list_items{
                        padding: 1rem;
                        &:hover{
                            background-color: rgb(240, 233, 233);
                            border-radius: 2px;
                        }
                    }
                }
                }
              
        
            } 
            
          }
           
           
           .hamburger{
            display: flex;
            height: 2rem;
            width: 3rem;
            background-color: transparent;
   
}
           }
        
        ////////////////////////////////////////////// mini nav
       
      
        
    
    &_right{
        width:100%;
        display: flex;

        @media only screen and(max-width:$bp-largest)
        {
            display: none;
        }
        ul{
            width:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        li{
            list-style: none;
            a{
            color:rgb(72, 70, 70);
            text-decoration: none;
            
            padding: 12px 0;
            font-size: 1.1rem;
            font-family: poppins,sans-serif;
           
            &::after{
                width:inherit;
               // background-color:green;
                height: 3.5px;
                content: "";
                display: block;
                margin-top: 5px;
            }
            &:hover,&:active,&:focus{
                &::after{
                   
                    background-color:green;
                    
                }
            }
            }
            
        }
        }
       
    }
}
  
