.getStarted{
    display: flex;
    clip-path: polygon(0% 5% , 98% 0%, 100% 100%, 0% 100% );
    background-color: rgb(250, 246, 246);
    padding: 10% 15%;
    gap: 2rem;

    .start_left{
        width: 50%;
        gap: 1rem;
        display: grid;
    
        h1{
            font-size: 1.8rem;
            font-weight: bolder;
            font-style: bold;
            font-family: poppins;
        }
        p{
            color: rgb(124, 116, 116);
            padding: 2% 6% 2% 0;
            font-family: poppins;
        }
        ul{
            list-style: none;
            
            display: grid;
    gap: 1rem;
            li{
            
                    font-family: poppins;
                    font-size: 1.2rem;
                    font-weight: bolder;
                    color:rgb(84, 82, 82);
                    i{
                        color:blue;
                        border-radius: 50%;
                        border: 1px solid rgb(106, 106, 229);
                        font-weight: lighter;
                        font-size: medium;
                        padding: 0.2rem;
                        margin-right: 1rem;
                    }    
            }
        }
        button{
            padding: 0%;
            width:100%;
            background-color: rgb(98, 179, 98);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: all .2s ease-in-out;
            &:hover{
                background-color: rgb(34, 126, 34); 

            }
            a{
                text-decoration: none;
               color: white;
               font-family: poppins;
               
               font-weight: bolder;
               font-size: 1.2rem;
               
            }
        }
      

    }
    .start_right{
        width:50%;
        display: grid;
img{
    width:49%;
    border-radius: 5px;
}
.img_1{
width:100%;
}
@media only screen and(max-width:$bp-small){
    .img2{
       
        display: grid;
        justify-items: center;
        width: 16rem;
    }
}
    }
}