.unique_facility{
    text-align: center;
    padding: 2%;

    .facility_page{
        text-align: center;
        justify-content: center;
        padding: 2%;
    }

    h3{
        font-size: 2rem;
        font-weight: bolder;
        font-family: poppins;
    }
}