.work{
    padding: 4% 0;
    background-color: rgb(243, 241, 241);
    clip-path: polygon(0% 5% , 98% 0%, 100% 95%, 0% 100% );
    text-align: center;
    h1{
        font-family: poppins;
        font-size: 2rem;
        font-weight: 900;
    }
    .works{
       // height: 5rem;
    }
    .box{
        align-items: center;
        height: 2rem;
        width: 15rem;
        background-color: bisque;
        display: flex;
        justify-content: space-between;
        padding: 2% 5%;
        text-align: center;
        border-radius: 20px;
        background-image: linear-gradient(
            to right,
            white 0%, white 50%,green 50%, green 100%
        );

        .btn1{
            &:hover{
            .box{
                background-image: linear-gradient(
                    to right,
                    pink 0%, pink 50%,green 50%, green 100%
                );
            }
            }
            
        }
        button{
            background-color: transparent;
            border: none;
            padding: 0 8%;
        }

        a{
            text-decoration: none;
            border: none;
            color:black;
            font-family: poppins;
            font-weight: 900;
        }
    }
    .work_box{
        display: flex;
        text-align: center;
        width: 20%;
        justify-content: space-between;
        padding: 5% 40%;
        
    }

    .workarrow_boxes_1{
        display: flex;
        &:after{
            background-color: black;
            height:2px;
            width:12px;
           // content:"";
        }
    }
    .workarrow_box{
        display: flex;
        padding: 0 25%;
        justify-content: center;
        gap:3rem;

       

        .workarrow_boxes_2{
            display: flex;
            &::after{
                background-color:rgb(5, 157, 41);
                height:1.5rem;
                content:"";
                width:3rem;
                clip-path: polygon(100% 39%, 0 0, 0 100%);
                margin-top: 1.5rem;
                box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.33);
                -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.33);
                -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.33);
                
            }
&::before{
    
    height:1.5rem;
    background-color:rgb(5, 157, 41);
    content:"";
    width:3rem;
    clip-path: polygon(100% 39%, 0 0, 0 100%);
    margin-top: 1.5rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.33) inset;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.33) inset;
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.33) inset;
    
}        
        }
        .workarrow_boxes{
            display: inline-grid;
            /* align-items: center; */
            gap:1rem;
            justify-items: center;
            hr{
                z-index: -1;
                height: 1px;
                width: 475px;
                //background-color: black;
                position: absolute;
                margin-top: 2.1rem;
                border: 1px dashed rgb(162, 154, 154);
            }
            


            h3{
                justify-items: center;
    color: white;
    background-color: rgb(31, 31, 247);
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    text-align: center;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-family: 'Poppins';
            }
h2{
    font-family: poppins;
}
p{
    color:rgb(179, 172, 172);
    font-family: poppins;
    font-weight: 300;
}
        }
    }
}